<div class="home__component">
  <div class="content">
    <div class="advantages">
      <div class="advantages__left__img">
        <img src="assets/images/advantages.jpg" alt="Наши Преимущества"/>
      </div>
      <div class="advantages__right__info">
        <h2 class="info__title__header">Преимущества заказа у нас
          <span class="info__title-decoration"></span>
        </h2>
        <div class="info__item__container">
          <div class="info__item">
            <div class="wrape">
              <img class="img" src="assets/images/home/advantages-03.png" alt="Система скидок от 10% до 40%">
            </div>
            <p class="text">
              Система скидок
              <br>
              от 15% до 40%
            </p>
          </div>
          <div class="info__item">
            <div class="wrape">
              <img class="img" src="assets/images/home/advantages-03.png" alt="Система скидок от 10% до 40%">
            </div>
            <p class="text">
              Доставка от 33 минут
            </p>
          </div>
          <div class="info__item">
            <div class="wrape">
              <img class="img" src="assets/images/home/advantages-03.png" alt="Система скидок от 10% до 40%">
            </div>
            <p class="text">
              Доставляем с 2012 года
            </p>
          </div>
          <div class="info__item">
            <div class="wrape">
              <img class="img" src="assets/images/home/advantages-03.png" alt="Система скидок от 10% до 40%">
            </div>
            <p class="text">
              10% от заказа на карту привелегий
            </p>
          </div>
        </div>
      </div>
    </div>

   <div class="newest__items">
    <div class="container">
      <h2 class="block-heading">Новинки
        <span class="title-decoration"></span>
      </h2>
      <div class="items__container">
        <app-product-card *ngFor="let item of newestProducts" [name]="item.name"
            [ingridients]="item.ingredients" [price]="item.price" [itemId]="item.id" [imageUrl]="item.imageUrl"
            [itemLink]="item.fullUrl"></app-product-card>
      </div>
    </div>
   </div>

    <div class="about__main">
      <div class="container">
        <h2 class="block-heading">Доставка от Sushi House
          <span class="title-decoration"></span>
        </h2>
        <div class="about_main_list padding_right">
          <div class="about_main_item">
            <p class="about_main_text">Служба доставки «Суши Хаус» предлагает вашему вниманию суши, роллы и много других вкусных блюд для заказа домой или в офис в Туле.</p>
            <p class="about_main_text">
              Радуем наших клиентов с 2012 года. «Море суши» – это качество, проверенное временем! У нас вы найдете аппетитные и сытные блюда на заказ, приготовленные по традиционным рецептам, а также наши фирменные наработки:
            </p>

            <ul class="list">
              <li>
                <span>Роллы</span>
                <p class="about_main_text">В меню есть всевозможные виды роллов – традиционные, обжаренные, запеченные, темпурные, сеты для большой компании и мини-сеты для романтического вечера.</p>
              </li>
              <li>
                <span>Суши</span>
                <p class="about_main_text">Наши суши порадует всех ценителей настоящей японской кухни!</p>
              </li>
              <li>
                <span>Пиццу</span>
                <p class="about_main_text">Пицца или суши? Зачем делать выбор – закажите и то, и другое! А мы с удовольствием исполним вашу гастрономическую фантазию.</p>
              </li>
              <li>
                <span>Салаты</span>
                <p class="about_main_text">Мы порадуем вас и разнообразием салатов – от вьетнамского до оливье.</p>
              </li>
            </ul>
          </div>
          <div class="about_main_item padding_left">
            <img src="assets/images/about-re.jpg" class="about_main_img" alt="Немного о нас">
            <ul class="list" style="margin-top: 0;">
              <li>
                <span>Горячие супы </span>
                <p class="about_main_text">Вы можете заказать у нас рамен, мисо, удон, том ям, том кха и, конечно же, куриный бульон.</p>
              </li>
              <li>
                <span>Лапшу или рис</span>
                <p class="about_main_text">Домашняя лапша (яичная, гречневая, рисовая), острый карри (красный, зеленый, желтый), запеченный под соусом рис с морепродуктами – таких блюд вы еще точно не пробовали.</p>
              </li>
              <li>
                <span>Вкусную домашнюю еду</span>
                <p class="about_main_text">У нас также есть блюда европейской и русской кухонь с доставкой на дом или в офис.</p>
              </li>
              <li>
                <span>Десерты</span>
                <p class="about_main_text">Для завершения трапезы отлично подойдет кусочек тортика, приготовленный на заказ.</p>
              </li>
              <li>
                <span>Напитки</span>
                <p class="about_main_text">Обязательно попробуйте наши фирменные фреши из фруктов и овощей.</p>
              </li>
            </ul>

            <p class="about_main_text">
              Не обязательно идти в ресторан или магазин, чтобы насладиться японской кухней. Закажите суши и роллы с доставкой в офис или на дом и мы их вам привезем! Готовим блюда исключительно из свежих продуктов и только после вашего звонка – еда приедет
              теплая!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
