<div class="container">
  <div>
    <div class="main__menu__header">
      <h2 class="block-heading">
        Суши
        <span class="title-decoration"></span>
      </h2>
    </div>

    <div class="items__container">
      <app-product-card *ngFor="let item of itemsList" [name]="item.name"
      [ingridients]="item.ingredients" [price]="item.price" [itemId]="item.id" [imageUrl]="item.imageUrl"
      [itemLink]="['./', item.id]"></app-product-card>
    </div>

    <div class="text">
      <p>Ощущаете усталость и легкий голод? «Суши Хаус» пополнит  ваши запасы энергии и полезных для организма микроэлементов, приготовив  свежайшие суши и доставив прямо в вашу квартиру или на рабочее место. Ассортимент  для заказа на сайте на любой вкус: лосось, икра, омлет, креветка и даже салат  Чукка на комочке риса.</p>
      <p>Служба доставки «Суши Хаус» предлагает  клиентам вкусные суши, приготовленные по традиционным японским рецептам. Оставить  заявку на нашем сайте или позвонить оператору для оформления доставки. Здоровье и хорошее настроение  клиентов — наши приоритеты вот уже 9 лет!</p>
      <ul class="list">
        <li>Классические  со свежайшей рыбкой (угорь, лосось) и креветками на легком облаке сладкого  риса.</li>
        <li>С  икрой лосося или летучей рыбы. Ароматная порция начинки и риса, окутанных  невесомой лентой нори.</li>
        <li>Вегетарианские.  Рис и чукка или воздушный омлет — польза и удовольствие для вашего организма.</li>
      </ul>
      <p>Простота  рецепта позволяет в полной мере насладиться глубиной вкуса морепродуктов в  сочетании с рисом — основным рационом, позволяющим японцам сохранять свою  молодость и красоту. Восполните свои силы и закажите пару порций неповторимых  суши. Буйство красок природы в совокупности с мастерством шефа и скоростной  доставкой — все для клиентов «Море суши». Мы работаем только с проверенными  поставщиками, покупая свежие и качественные продукты для наших блюд.</p>
    </div>
  </div>
</div>
