<div class="container">
  <div>
    <div class="main__menu__header">
      <h2 class="block-heading">
        Сеты роллов
        <span class="title-decoration"></span>
      </h2>
    </div>

    <div class="items__container">
      <app-product-card *ngFor="let item of itemsList" [name]="item.name"
      [ingridients]="item.ingredients" [price]="item.price" [itemId]="item.id" [imageUrl]="item.imageUrl"
      [itemLink]="['./', item.id]"></app-product-card>
    </div>

    <div class="text">
      <p>Еще несколько лет назад роллы казались нам удивительным заморским блюдом, пришедшим из Японии. Сегодня выбором данного блюда никого не удивишь. Вы можете растеряться от огромного ассортимента, поэтому в нашем меню представлены сеты на любой вкус. Роллы с лососем, копченым угрем, креветками, огурцом, крем-сыром, авокадо, крабом, красной икрой и даже с омлетом – вот далеко не весь список блюд, которые Вы можете попробовать, заказав у нас сет из роллов на дом.</p>
      <p>Для приготовления этого японского лакомства, повара используют бесконечную фантазию, по-разному компонуя морепродукты и обычные продукты, что в результате приводит к бесконечно большому выбору видов роллов. Для кого-то удобней ходить в суши-бары и рестораны, но намного приятней и дешевле покупать разнообразные сеты в Туле на заказ. Можно в расслабленной комфортной обстановке, смотря телевизор и общаясь с близкими, никуда не торопясь, наслаждаться удивительными вкусовыми качествами японской кухни.</p>
    </div>
  </div>
</div>
