<div class="container">
  <div>
    <div class="main__menu__header">
      <h2 class="block-heading">
        Роллы
        <span class="title-decoration"></span>
      </h2>
    </div>

    <div class="items__container">
      <app-product-card *ngFor="let item of itemsList" [name]="item.name"
      [ingridients]="item.ingredients" [price]="item.price" [itemId]="item.id" [imageUrl]="item.imageUrl"
      [itemLink]="['./', item.id]"></app-product-card>
    </div>

    <div class="text">
      <p>Японская кухня позволяет нам почувствовать оригинальный вкус в каждом блюде, которое готовят в традиционных заведениях, посвященных этой восточноазиатской стране. Одним из наиболее популярных и любимых блюд этой кухни всегда были роллы.</p>
      <p>Сегодня заказ роллов на дом доступен каждому, ведь в большинстве городов можно увидеть десятки различных заведений японской кухни, которые предложат клиентам несравненный вкус оригинальных блюд. Для европейцев японская кухня стала неким чудом, которое каждый раз удивляет новым вкусом и изяществом. Вот почему заказать доставку роллов в Туле на дом может каждый, поскольку любят это блюдо миллионы людей во всем мире.</p>
      <p>Независимо от места проживания, Бангкок за окном или Нью-Йорк, Москва или Лондон - каждый может заказать роллы на дом. Тем более, что появление интернета облегчило такие заказы - теперь не нужно никуда звонить, чтобы получить любимое душистое блюдо. Забудьте об очередях и продолжительном ожидании - теперь заказ роллов на дом в Туле – это максимально просто и доступно каждому.</p>
      <p>Если Вы решили заказать роллы на дом, в первую очередь ознакомьтесь с сайтами ресторанов и заведений японской кухни в своем городе. Их каталоги позволят спокойно выбрать нужное блюдо, поскольку наполнение для роллов бывает разным и именно разнообразие вкусов позволяет им быть столь популярными. Когда ознакомитесь с каталогом и сделаете выбор, сразу заполните специальную форму и выполните оплату - 1 минута и Ваш заказ уже будет на правильном пути. А уже через некоторое время Вам доставят любимые роллы. Осталось только смаковать!</p>
    </div>
  </div>
</div>
