<div class="menu__component">
  <section class="catalog-menu" [class.non__active]="router.isActive('/menu', true)">
    <div class="catalog-menu__open">Меню</div>
    <div class="menu-index">
      <div class="menu-index-item" *ngFor="let linkCat of categories">
        <a routerLink="{{linkCat?.url}}">
          <img class="img" src="{{linkCat?.iconData}}" alt="{{linkCat?.name}}">
          <p class="name">{{linkCat?.name}}</p>
        </a>
      </div>
    </div>
  </section>

  <app-breadcrumb ></app-breadcrumb> <!-- [class.non__active]="router.isActive('/menu', true)" -->

  <div class="main__menu container" [class.non__active]="!router.isActive('/menu', true)">
    <div class="main__menu__header">
      <h2 class="block-heading">
        Меню доставки
        <span class="title-decoration"></span>
      </h2>
    </div>
    <div class="items__container">
      <div class="item" *ngFor="let cat of categories">
        <a routerLink="{{cat?.url}}">
          <img src="{{cat?.imageData}}" alt="{{cat?.name}}">
          <p>{{cat?.name}}</p>
        </a>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
