h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.cart__component {
  width: 100%;
  font-size: 14px;
  line-height: 1;
  color: #1f1f1f;
  font-weight: 300;
  background-color: #ffffff;
}

.table-responsive {
  margin-top: 20px;
  font-weight: 300;
}

.font_style {
  font-weight: normal;
  font-size: 14px;;
  color: #1f1f1f;
}
/* .table-bordered {
  border: 1px solid #ddd;
}*/

.table-bordered thead th{
  background: #f7f7f7;
}

.cart__navigation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-primary {
  background-color: #32b4b8;
  border: 1px solid #32b4b8;
  transition: all 1s;
}

.btn-primary:hover {
  background-color: #289396;
  border: 1px solid #289396;
}

.padding__bot__20 {
  padding-bottom: 20px;
}
