<div class="cart__component">
  <app-breadcrumb ></app-breadcrumb>

  <div>
    <div class="container">
     <div class="cart">
      <h2>Козина покупок</h2>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center font_style">Изображение</th>
              <th class="text-left font_style">Наименование товара</th>
              <th class="text-left font_style">Категория</th>
              <th class="text-left font_style">Кол-во</th>
              <th class="text-center font_style">Цена за шт.</th>
              <th class="text-center font_style">Всего</th>
            </tr>
          </thead>
        </table>
      </div>
     </div>
     <div class="cart__navigation">

     </div>
    </div>

  </div>

  <div class="container" style="display: none;">В корзину не добавлен товар!</div>
</div>

