
<div class="admin-panel__component">

  <div class="admin-panel__container">
    <div class="menu">
      <ul>
        <li><a routerLink="categories">Категории</a></li>
        <li><a routerLink="items">Товары</a></li>
        <li><a routerLink="toppings">Топпинги</a></li>
        <li><a routerLink="users">Пользователи</a></li>
        <li><a routerLink="orders">Заказы</a></li>
      </ul>
    </div>
    <div class="content">
      <app-breadcrumb ></app-breadcrumb>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
