<div class="container">
  <div>
    <div class="main__menu__header">
      <h2 class="block-heading">
        Обжаренные роллы
        <span class="title-decoration"></span>
      </h2>
    </div>

    <div class="items__container">
      <app-product-card *ngFor="let item of itemsList" [name]="item.name"
      [ingridients]="item.ingredients" [price]="item.price" [itemId]="item.id" [imageUrl]="item.imageUrl"
      [itemLink]="['./', item.id]"></app-product-card>
    </div>

    <div class="text">
      <p>Японская кухня позволяет нам почувствовать оригинальный вкус в каждом блюде, которое готовят в традиционных заведениях, посвященных этой восточноазиатской стране. Одним из наиболее любимых блюд этой кухни всегда были роллы. А сейчас, все быстрее набирают популярность обжаренные роллы Темпура. Данное блюдо подается горячим с хрустящей корочкой, которая достигается путем помещения лакомства в своего рода кляр и обжарки в масле.</p>
      <p>Сегодня заказ обжаренных роллов на дом доступен каждому, ведь в большинстве городов можно увидеть десятки различных заведений японской кухни, которые предложат клиентам несравненный вкус оригинальных блюд, способных заменить полноценный обед или ужин. Вот почему заказать доставку горячих роллов Темпура в Туле на дом или в офис может каждый, поскольку это сытное блюдо любят миллионы людей во всем мире. Курьерская доставка работает очень быстро вне зависимости от района вашего проживания. Вы точно останетесь довольны!</p>
    </div>
  </div>
</div>
